{{> head}}
<body>
<!-- Page Loader -->
    
    <div class="page-container">
        {{> nav}}
        {{> aside}}
        <div class="page-content">
            <div class="main-wrapper">
            {{{body}}}

            </div>
        </div>
    </div>
    {{> scripts}}
</body>
</html>