{{> head}}
<body>
<!-- Page Loader -->

<div class="page-container worker">
    {{> nav}}
    {{> aside_worker}}
    <div class="page-content">
        <div class="main-wrapper">
            {{{body}}}

        </div>
    </div>
</div>
{{> scripts}}
</body>
</html>