<footer>
        <div class="ftr_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                        <a href="#" class="mb_wi">LOGO</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio recusandae, fuga minus id vel assumenda quasi sunt iusto laudantium itaque eligendi exercitationem ducimus aspernatur impedit et incidunt enim officia ab.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 text-right">
                        <a href="#">Помощь</a>
                        <a href="#">Написать администратору</a>
                        <a href="#">Размещение рекламы </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 text-right">
                        <a href="#">Помощь</a>
                        <a href="#">Написать администратору</a>
                        <a href="#">Размещение рекламы </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ftr_bottom text-center">
            <div class="container">
                <p>LOGO © 2021</p>
            </div>
        </div>
    </footer>
